<!DOCTYPE HTML>
<html>
  <head>
    <title>Chat</title>
    <link rel="stylesheet" href="/stylesheets/style.css"  type="text/css" />
    <link rel="stylesheet" href="/stylesheets/bootstrap.css"  type="text/css" />
    <link rel="stylesheet" href="/stylesheets/font-awesome.min.css"  type="text/css" />
    <link rel="stylesheet" href="/stylesheets/font-awesome.css"  type="text/css" />
    <link rel="stylesheet" href="/stylesheets/animate.min.css"  type="text/css" />
    <link rel="stylesheet" href="/stylesheets/stylechatlib.css"  type="text/css" />
    <link rel="stylesheet" href="/stylesheets/smartMenu.css"  type="text/css" />
  </head>

  <body>
    <div class="container">
      <div class="navbar navbar-default">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">You Chat</a>
        </div>
        <div class="navbar-collapse collapse navbar-right">
          <ul class="nav navbar-nav">
            <li>
              <a href="/users">
                <i class="fa fa-comment"></i>  Chat
              </a>
            </li>
            <li>
              <a href="">
                <i class="fa fa-gear"></i> My Profile
              </a>
            </li>
            <li>
              <a href="/logout"><i class="fa fa-power-off"></i> Log Out
              </a>
            </li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
      <div class=" col-md-12  chat_box_container ">
        <div class="row">
          <div class="connected_container">
            <div class="panel top-controls">
                <div class="panel-body row">
                  <a href="#" class="col-xs-2" title="Preview Page" onclick="prevPage(); return false;">
                    <i class="fa fa-chevron-left fa-3x"></i>
                  </a>
                  <a href="#" class="col-xs-2" title="1st page of connected users" onclick="home(); return false;">
                    <i class="fa fa-home fa-3x"></i>
                  </a>
                  <a href="#" class="col-xs-2 messages" title="Inbox" onclick="getInbox(); return false;" style="color: rgb(66, 139, 202);">
                    <i class="fa fa-envelope fa-3x"></i>
                  </a>
                  <a href="#" class="col-xs-2 gold" title="Search" onclick="getSearchForm(); return false;">
                    <i class="fa fa-search fa-3x"></i>
                  </a>
                  <a href="/searchfriend" class="col-xs-2 gold" title="AddFriend">
                    <i class="fa fa-plus fa-3x"></i>
                  </a>
                  <a href="#" class="col-xs-2" title="Next Page" onclick="nextPage(); return false;">
                    <i class="fa fa-chevron-right fa-3x"></i>
                  </a>
                </div>
            </div>
            <div class="list-group connected_users">
              <h4 class="text-center"><i class="fa fa-home"></i>
              <%
              //console.log("hello");
              //console.log(groupidarray[0]);
              //console.log(groupname.get(groupidarray[0]+""));
              //console.log(friendlist.get('1')[0].id)

              %>
              </h4>
              <ul id="accordion" class="accordion">
                <%
                  for (var i in groupidarray) { %>
                <li>
                  <div id="groupSubMenu" class="link groupSubMenu"><i class="fa fa-users"></i>
                    <%= groupname.get(groupidarray[i]+"") %><i class="fa fa-chevron-down"></i>
                  </div>
                  <ul id="userSubMenu" class="submenu userSubMenu">
                    <%  var friend = friendlist.get(groupidarray[i]+"");
                    console.log(groupidarray);
                    console.log("dog");
                    console.log(friendlist);
                      for (var j in friend) { %>
                    <li>
                      <a href="/chat?friendid=<%= friend[j].id %>"  data-id="25819490" data-age="29" data-username="yoo yooo" data-city="Anhui" data-country="China" data-sexe="female" class="list-group-item femme">
                        <p class="list-group-item-text"><%= friend[j].name %></p>
                        <i class="fa fa-chevron-left"></i>
                      </a>
                    </li>
                    <% } %>
                  </ul>
                </li>
                <% } %>
              </ul>


            </div>
            <div class="panel bottom-controls">
              <div class="panel-body row">
                <div class="col-xs-3 text-left">
                  zmx
                </div>
                <div class="col-xs-2">
                  <a href="#" class="col-xs-2" alt="Previous Page" onclick="prevPage(); return false;">
                    <i class="icon-chevron-left icon-2x"></i>
                  </a>
                </div>
                <div class="col-xs-2">
                  <a href="#" class="col-xs-2" title="Refresh Users List" onclick="refresh(); return false;">
                    <i class="icon-refresh icon-2x"></i>
                  </a>
                </div>
                <div class="col-xs-2">
                  <a href="#" class="col-xs-2" title="Next Page" onclick="nextPage(); return false;">
                    <i class="icon-chevron-right icon-2x"></i>
                  </a>
                </div>
                <div class="col-xs-3 text-right">
                  Page 1/<span class="totalPages">1</span>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-10 col-md-10  chatbox">
          <div class="chatname">
            <button class="btn btn-primary btn-lg chuangkou" data-toggle="modal" 
   data-target="#myModal" >
    </button>
          </div>
    
          
          </div>
        </div>
      </div>
    </div>
    <script src="/javascripts/socket.io-1.2.0.js"></script>
    <script src="/javascripts/jquery.min.js"></script>
    <script src="/javascripts/bootstrap.min.js"></script>
    <script src="/javascripts/jquery-smartMenu.js"></script>
    <script>
      var socket = io();
      var from;
      from = parseInt($('#from').html());
      socket.emit('new user',from);
      var to = 2;
      $('form').submit(function(){
        socket.emit('private message', from, to, $('#m').val());
        $('#messages').append($('<li class="right_message">').text($('#m').val()));
        $('#m').val('');
        return false;
      });
      socket.on('to:'+from, function(data){
        console.log(data);
        $('#messages').append('<li class="left_message">'+data.message+'</li>');
      });
    </script>

    <!-- smartmenu -->
    <script>
        var userMenuData = [
            [{
                text: "CHAT",
                func: function() {
                    $(this).css("padding", "10px");
                }
            }, {
                text: "DELETE",
                func: function() {
                    $(this).css("padding", "10px");
                }
            }, {
                text: "GROUP",
                data: [
                    [{
                      text: "college",
                        func: function() {
                            funTrGet().hide();
                        }
                    }]
                ],
                func: function() {
                    $(this).css("background-color", "#beceeb");
                }
            }]
        ];
        var groupMenuData = [
            [{
                text: "ADD",
                func: function() {
                    $(this).css("padding", "10px");
                }
            }, {
                text: "DELETE",
                func: function() {
                    $(this).css("padding", "10px");
                }
            }, {
                text: "RENAME",
                func: function() {
                    $(this).css("background-color", "#beceeb");
                }
            }]
        ];
        $(".groupSubMenu").smartMenu(groupMenuData, {
            name: "group"
        });
        $(".userSubMenu").smartMenu(userMenuData, {
            name: "user"
        });

    </script>
    <script src="/javascripts/collapse.js"></script>
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" 
   aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" 
               data-dismiss="modal" aria-hidden="true">
                  &times;
        </button>
        <h4 class="modal-title" id="myModalLabel">
              You Chat
        </h4>
      </div>
      <div class="modal-body">
        Please enter you new group name:
        <input type="text"></input>
            <!--You have had this friend! Please choose another friend to add!-->
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">
               OK
        </button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal -->
</div>


  </body>
</html>
