<!doctype html>
<html>
  <head>
    <title>Chat</title>
    <link rel="stylesheet" href="/stylesheets/style.css"  type="text/css" />
    <link rel="stylesheet" href="/stylesheets/bootstrap.css"  type="text/css" />

  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-lg-2 col-md-2" >
          <div class="row">
            <div class="col-lg-4">
              <img class=" portrait"src="/images/portrait.png"/>
            </div>
            <div id="from" class="col-lg-8 master-name"><%= AccountID %>
            </div>
          </div>
          <div class="friend_list panel-group" id="accordion">
             <div class="panel panel-default">
              <div class="panel-heading">
                <h1 class="panel-title">
                  <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                    friend
                  </a>
                </h1>
              </div>
              <div id="collapseOne" class="panel-collapse collapse in">
                <div >
                    <ul class="list-group">
                        <li class="list-group-item"><%= Group[0]%></li>
                        <li class="list-group-item">ads</li>
                        <li class="list-group-item">ads</li>
                    </ul>
                </div>
              </div>
            </div>
            <div class="panel panel-default">
              <div class="panel-heading">
                <h1 class="panel-title">
                  <a data-toggle="collapse" data-parent="#accordion" href="#collapsetwo">
                    family
                  </a>
                </h1>
              </div>
              <div id="collapsetwo" class="panel-collapse collapse in">
                <div >
                    <ul class="list-group">
                        <li class="list-group-item">ads</li>
                        <li class="list-group-item">ads</li>
                        <li class="list-group-item">ads</li>
                    </ul>
                </div>
              </div>
            </div>


          </div>


        </div>
        <div class="col-lg-10 col-md-10  chatbox">
          <div class="chatname">
            <font size="4">Zprinze</font>
            <p style="display:none">123</p>
          </div>
          <div>
            <ul id="messages" class="chat-thread">
          

            </ul>
          </div>
          <div class= "input_form">
            <form action="" method="post" class="form">
              
              <textarea id="m" class="form-control" rows="3"></textarea>
              <button class="btn btn-default button_style" align="center" >Send</button>
            </form>
          </div>
        </div>
      </div>
    </div>
    <script src="/javascripts/socket.io-1.2.0.js"></script>
    <script src="/javascripts/jquery.min.js"></script>
    <script src="/javascripts/bootstrap.min.js"></script>
    <script>
      var socket = io();
      var from;
      from = parseInt($('#from').html());
      socket.emit('new user',from);
      var to = 2;
      $('form').submit(function(){
       
       
        socket.emit('private message', from, to, $('#m').val());
        $('#messages').append($('<li class="right_message">').text($('#m').val()));
        $('#m').val('');

        return false;
      });
      socket.on('to:'+from, function(data){
        console.log(data);
        $('#messages').append('<li class="left_message">'+data.message+'</li>');
      });
    </script>
  </body>
</html>